html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  body { background-color: black; }
}
@media (prefers-color-scheme: light) {
  body { background-color: white; }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Animation */
.fadein {
  opacity: 0;
  animation: fadein .3s ease forwards;
}

  @keyframes fadein {
    100% { opacity: 1; }
  }


/* Button */
input[type="button"],
input[type="submit"] {
  background: none;
  outline: 0;
  border: 0;

  width: 10rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10%;
  cursor: pointer;
  transition: .1s;
}

  input[type="button"].btn-ok,
  input[type="submit"].btn-ok {
    background-color: #275EFE;
    color: white;
  }

    input[type="button"].btn-ok:hover,
    input[type="submit"].btn-ok:hover {
      background-color: #4775ff;
    }

    input[type="button"].btn-ok:active, 
    input[type="submit"].btn-ok:active {
      background-color: #204aca;
    }

  input[type="button"].btn-cancel {
    color: #275EFE;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 1rem;
  }

    input[type="button"].btn-cancel:hover {
      background-color: #e8efff;
    }

    input[type="button"].btn-cancel:active {
      background-color: #c7ccda;
    }


/* fontello */
.icon-cog:before {
  font-size: 3rem;
  cursor: pointer;
  transition: .2s;
  opacity: 0.3;
}

.icon-cog:hover::before {
  opacity: 1;
}

.icon-cancel:before {
  font-size: 1.5rem;
}

.icon-plus::before {
  font-size: 2rem;
}

.searchbar.icon-search::before {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);

  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}
