.newtab {
  position: relative;

  width: 100%;
  height: 100vh;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* content */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  width: 50vw;
  height: 50vh;

  border: 1px solid #000;
}


/* SettingsButton */
.settingsButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
