.settingsBGContent,
.settingsLinkContent {
  position: absolute;
}

/* BGContent */
.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

  .bgThumbnail, .bgGray {
    width: 12vw;
    height: 8vw;
    border-radius: 3%;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  .bgGray {
    border: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
  }

/* LinkContent  */