/* Common settings */
.settingsBGOption,
.settingsColorOption,
.settingsSBOption,
.settingsShortcutsOption {
  width: calc(9vw * 3 + 1rem * 2);
}

h2.settingsH2,
h2.settingsH2_2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  transform: translateX(-3rem);
}

h2.settingsH2_2 {
  margin-top: 3rem;
}

  .settingsUl > li {
    height: 2rem;
    margin-bottom: 2rem;
  }

.outer {
  position: relative;
  height: 100%;
}

  .left {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2rem;
  }

  .right {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 13rem;
    font-size: 1.7rem;
    text-align: right;
  }


/* Background (BG) Option */
.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  width: calc(9vw * 3 + 1rem * 2);
  margin-bottom: 2rem;
}

  .bgThumbnail, .noImageButton, .bgUpload {
    width: 9vw;
    height: 6vw;
    border-radius: 5px;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: .1s;

    box-shadow: 3px 3px 10px 0 #0000001c;
  }

  .noImageButton, .bgUpload {
    border: 1px solid rgb(231, 231, 231);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
  }

    .bgThumbnail:hover,
    .noImageButton:hover {
      opacity: 0.9;
    }

    .bgUpload:hover {
      background-color: rgb(248, 248, 248);
    }

  .bgUploadButton {
    width: 9vw;
    height: 6vw;
    display: none;
  }
