/* BGContent */
.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  width: calc(9vw * 3 + 1rem * 2);
}

  .bgThumbnail, .noImageButton, .bgUpload {
    width: 9vw;
    height: 6vw;
    border-radius: 3%;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  .noImageButton, .bgUpload {
    border: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
  }

  .bgUploadButton {
    width: 9vw;
    height: 6vw;
    display: none;
  }

.bgColor {
  position: relative;
  padding-top: 4rem;
}

  .bgColorText {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2rem;
  }

  .bgColorPicker {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 1.7rem;
  }



/* LinkContent  */
.settingsSCContent {
  width: calc(9vw * 3 + 1rem * 2);
}

  .SCOptions {
    list-style: none;
  }