.settingsPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40%;
  height: 70%;

  background-color: white;
  border-radius: 1%;
  box-shadow: 5px 5px 10px 0 #0000001c;

  z-index: 200;
}

  .popupH1 {
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .settingsTop {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .settingsScrollbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin-left: 0.5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .settingsBottom {
    width: 100%;
    height: auto;
    margin: 1rem;
    padding-right: 1rem;
  }

    .settingsButton {
      text-align: right;
      font-size: 3rem;
    }
