.shortcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 66%;
}

  .shortcutItem {
    position: relative;
    width: calc(3vw + 4rem);
    height: calc(3vw + 4rem + 2rem);
    margin: 0 1rem;
  }

    .shortcutURL {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 1rem 0.5rem;
      cursor: pointer;
      transition: .1s;
    }

    .shortcutURL:hover {
      background-color: #ffffff1f;
      border-radius: 3%;
    }

      .shortcutCircle {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background-color: #ffffff;
      }

      .shortcutIcon {
        width: 1.5vw;
      }

      .shortcutText {
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;

        width: 4vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    .removeShortcut {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;

      z-index: 2;

      opacity: 0;
      visibility: hidden;
      transition: .1s;
    }

      .shortcutURL:hover ~ .removeShortcut {
        animation: fadein-remove-button .1s ease forwards;
        animation-delay: .5s;
      }

        @keyframes fadein-remove-button {
          0% { visibility: visible; }
          100% {
            opacity: 1;
            visibility: visible;
          }
        }
      
      .removeShortcut:hover {
        opacity: 1;
        visibility: visible;
      }

      .removeShortcutButton {
        display: none;
      }

      .removeIcon:hover {
        cursor: pointer;
      }
